*.pdf binary
06_data_and_sources/*.zip filter=lfs diff=lfs merge=lfs -text
06_data_and_sources/*.tar.gz filter=lfs diff=lfs merge=lfs -text
06_data_and_sources/*.db filter=lfs diff=lfs merge=lfs -text
